#loft-dev-tools {
  font-size: 14px;
  padding:10px;
  background-color: #000000;
  margin-top: 100px;
  position: relative;
  text-align: left;
}

#loft-dev-tools {
  color: #66FF66;
  font-family: "Panic Sans", monospace;
}
#loft-dev-tools .form-submit,
#loft-dev-tools .form-text,
#loft-dev-tools .form-select option {
  color: #000;
}
#loft-dev-tools tr.odd {
  background: #000;
}
#loft-dev-tools tr.even {
  background: #333;
}
#loft-dev-tools th {
  background: #666;
  color: #000;
}
#loft-dev-tools table {
  width: 100%;
}

#loft-dev-tools a {
  color: #fff;
  text-decoration: none;
}
#loft-dev-tools a:hover {
  color: #fff;
  text-decoration: underline;
}

#loft-dev-update-rewind-form .form-item,
#loft-dev-update-rewind-form label {
  display: inline-block;
}

span.alt {
  color: red;
}
span.tri {
  color: green;
}
span.tetra {
  color: blue;
}
span.alpha {
  color: orange;
}
span.beta {
  color: purple;
}
span.gamma {
  color: pink;
}
span.delta {
  color: grey;
}

#loft-dev-node-access-form th,
#loft-dev-node-access-form td {
  text-align: center;
}
#loft-dev-node-access-form {
  margin: 20px 0;
}

/**
 * drupal elements
 */
li .element-details {
  display: none;
}

.loft-dev-show-admin-stuff {
  position: fixed;
  bottom: 0;
  right: 0;
  text-decoration: none;
}
