.loft-dev-closure {
  font-size: 14px !important;
  padding:10px !important;
  background-color: #000000 !important;
  margin-top: 100px;
  position: relative;
}
.loft-dev-auxillary-links li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 10px 0 0;
  margin: 0;
}
.loft-dev-auxillary-links li.last {
  border: none;
  padding: 0;
}

.loft-dev-closure,
.loft-dev-closure *{
  color: #66FF66 !important;
  font-family: "Panic Sans", monospace  !important;
}
.loft-dev-closure .form-submit,
.loft-dev-closure .form-text {
  color: #000 !important;
}
.loft-dev-closure tr.odd {
  background: #000 !important;
}
.loft-dev-closure tr.even {
  background: #333 !important;
}
.loft-dev-closure th {
  background: #666 !important;
  color: #000 !important;
}
.loft-dev-closure table {
  width: 100% !important;
}

.loft-dev-closure a {
  color: #fff !important;
  text-decoration: underline !important;
}

#loft-dev-update-rewind-form .form-item,
#loft-dev-update-rewind-form label {
  display: inline-block;
}

span.alt {
  color: red;
}
span.tri {
  color: green;
}
span.tetra {
  color: blue;
}
span.alpha {
  color: orange;
}
span.beta {
  color: purple;
}
span.gamma {
  color: pink;
}
span.delta {
  color: grey;
}
